html
    head
        title Tambah Program Studi
    body
        form(action="/programStudi" method="post")
            label Kode Program Studi
                input(type="text" name="kode_program_studi")
                br
            label Nama Program Studi
                input(type="text" name="nama")
                br
            input(type="submit" value="Register")