html
    head
        title Tambah KRS
    body
        form(action="/krs" method="post")
            label NIM
                input(type="text" name="nim")
                br
            label Kode Mata Kuliah
                input(type="text" name="kode_mata_kuliah")
                br
            label Tahun
                input(type="text" name="tahun")
                br
            label Semester
                input(type="text" name="semester")
                br
            input(type="submit" value="Register")