html
    head
        title Administrasi Universitas
    body
        h1 Administrasi Universitas
        p (tambah data sesuai urutan)
        br
        table
            tr
                a(href="http://localhost:3000/programStudi") Program Studi
            tr
                p v
            tr
                a(href="http://localhost:3000/mataKuliah") Mata Kuliah
            tr
                p v
            tr
                a(href="http://localhost:3000/mahasiswa") Mahasiswa
            tr
                p v
            tr
                a(href="http://localhost:3000/krs") KRS
